html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 重置樣式 */
*{
  margin:0;
  padding: 0;

  font-family: 'Noto Sans TC',snas-serif;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


nav ul {
  list-style-type: none;
  text-align: center;
  background-color: black;
  color: white;
}


nav ul li {
  display: inline-block;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}



nav ul li:hover{
  cursor: pointer;
  animation:menuAni .5s alternate infinite; 
  
}
/*選單樣式--end*/

img.resize {
  width:50;
  height:50;
 }
 img
 {
  float:left;
  
 }

h1
{

  font-size: 25px;

}
h2
{
  font-size: 20px;
}
h1 a
{
  color: black;
   text-decoration: none;
}


.style2  span
{
  font-size:60px;
  line-height:1;
}

p
{
  font-size: 20px;
  color:black;
}

a
{
  color:white;
  font-size: auto;
  text-decoration: none;
}

a:hover
{
  color: gray;
  

}

.main
{

  margin-bottom: 20px;

}

.topmenu li{
  
  float: right;
  margin-right: 10px;
}
.topmenu a{
  color: black;
  text-decoration: none;
}


.footer{
  height: 1300px;
  /*background-color: orange;*/
  background: linear-gradient(#FFEEDD,orange);

}
.box img
{

  /*background: #000;*/

  border-radius: 100%;
  border: 1px solid pink;
}




/*動畫關鍵影格區塊--start*/
@keyframes menuAni {
  from{background-color: transparent;}
  to{background-color: white;}
  
}
/*動畫關鍵影格區塊--end*/



.backgroundCol
{
  background:-webkit-linear-gradient(left,#FF60AF,#FFECF5);/*漸層*/
}


@media screen and (max-width:1000px){
 
  .box img
  {
    width: 40%;
    height: 40%;
  }
  


  nav ul li {
    display: block;
    font-size: 20px;
    padding: 10px 20px;

  }


    div.followme img
    {
      width: 3em;
      height: 3em;
    }
}
#container{
 
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

}


div.followme{
 margin-left: 10%;
  
}

#changeline{

  color: transparent;
}


div .followme img:hover{

  transform:translateY(-10px);
}

#myphoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#myphoto div {

  
  border: solid #888 2px;
  width: 29%;
  height: 29%;
  float: right;
  margin: 0 2%;
  box-sizing: border-box;
}
