html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 重置樣式 */
*{
  margin:0;
  padding: 0;

  font-family: 'Noto Sans TC',snas-serif;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

 /*選單樣式--start*/
 /* nav ul{
  list-style-type: none;
  text-align: center;
  /* background-color:greenyellow; */
  /* color:black;

}  */
/* nav ul li{
  display:inline-block ;
  font-size: 20px;
  padding: 10px 10px;
} */

nav ul li:hover{
  cursor: pointer;
  animation:menuAni .5s alternate infinite; 
  
}
/*選單樣式--end*/


.GEM 
{
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
  margin-top:100px;      
}

img.resize {
  width:50;
  height:50;
 }
 img
 {
  float:left;
  
 }
 /* .wrap{
  margin: 0 auto;
  width: auto;
} */

h1
{

  font-size: 25px;

}
h2
{
  font-size: 20px;
}
h1 a
{
  color: black;
   text-decoration: none;
}



/* .header{
  height: 180px;
  background: linear-gradient(#4EFEB3,rgb(33, 187, 33));
  margin-bottom: 20px;
} */


.style2  span
{
  font-size:60px;
  line-height:1;
}

p
{
  font-size: 20px;
  color:black;
}

a
{
  font-size: auto;
}

a:hover
{
  color: gray;

}
/* .style1 p span
{
  font-size: 40px;
} */

.topmenu{
  float: right;
  /* margin-top: auto;
  margin-right: auto; */
  
}
.main
{

  margin-bottom: 20px;

}

.topmenu li{
  
  float: right;
  margin-right: 10px;
}
.topmenu a{
  color: black;
  text-decoration: none;
}


.topmenu2 li{
  
  float: left;
  margin-left:8px;
}
.topmenu2 a{
  color: black;
  text-decoration: none;
}

.footer{
  height: 1200px;
  /*background-color: orange;*/
  background: linear-gradient(#FFEEDD,orange);

}
.box img
{

  /*background: #000;*/

  border-radius: 100%;
  border: 1px solid pink;
}




/*動畫關鍵影格區塊--start*/
@keyframes menuAni {
  from{background-color: transparent;}
  to{background-color: #9ce90fde;}
  
}
/*動畫關鍵影格區塊--end*/

.backgroundCol
{
  background:-webkit-linear-gradient(left,#FF60AF,#FFECF5);/*漸層*/
}


@media screen and (max-width:1000px){
  
  

  .box img
  {
    width: 40%;
    height: 40%;
  }
  
  .topmenu2 img {
    
    width: 5em;
    height: 5em;
    
  }
}



#container{
            
  /* border: solid 1px  red; */
  /* border-width: 1px 10x 20px 30px; */
  width: 100%;
  
  max-width: 500px;
  /* margin-left: auto;
  margin-right: auto; */

  margin: 0 auto;

}


#container_digmusic{
            
  /* border: solid 1px  red; */
  /* border-width: 1px 10x 20px 30px; */
  width: 100%;
  
  max-width: 500px;
  /* margin-left: auto;
  margin-right: auto; */

  margin: 0 auto;

}
