html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1{
  font-size: 50px;
  margin-bottom: 50px;
}
.footer{
  height: 1500px;
  background: linear-gradient(#FFFFDF,#F9F900);
  margin-right: 50px;
  margin-left: 50px;
  box-shadow: 6px 6px 6px gray;
}
.mid
{
  margin-top: 300px;
  width: 750px;
  height: 200px;
  
  background: #EE7700;
  color: #EE7700;
  
  margin-left: 33px;
  margin-right: 50px;
  box-shadow: 5px 5px 5px gray;

}

.mid1
{
  width: 750px;
  height: 200px;
  
  background: #FF44AA;
  color: #EE7700;

  margin-left: 33px;
  margin-right: 50px;
  box-shadow: 5px 5px 5px gray;


}

.Youtube
{
  font-size: 40px;
  color: black;
}
.Upload
{
  font-size: 40px;
  color: blue;
  margin-left: 100px;


}
.FB
{
  font-size: 40px;
  color: black;
}

.likes
{
  font-size: 40px;
  color: blue;
  margin-left: 100px;
}
.Instergram
{
  font-size: 40px;
  color: black;
}

.subscribes
{
  font-size: 40px;
  color: blue;
  margin-left: 100px;
}

.mid2
{
  width: 750px;
  height: 200px;
  
  background: #66FFFF;
  color: #EE7700;

  margin-left: 33px;
  margin-right: 50px;
  box-shadow: 5px 5px 5px gray;

}
.myPhoto
{
  float: right;
}
.myPhoto img
{
  box-shadow: 5px 5px 5px gray;
  margin-right: 10px;
}
